		*{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
		body{padding:0;margin:0;font-family:arial, sans-serif;min-width:320px;}
		aside{padding:0 25px 100px;}
		a {text-decoration: none; }
		hr{border:none;border-top:1px solid #aaa;}
		h3,.title{font-weight: normal;}
		.title b{font-style: italic!important}
		form{margin:0;padding:0;line-height:35px;}
		header{text-align:left;width:auto;background-color:#ddd;padding:0;border-bottom:1px solid #ccc;}
		header,footer{
			background-image: -moz-linear-gradient(top, #eeeeee, #ddd);
			background-image: -ms-linear-gradient(top, #eeeeee, #ddd);
			background-image: -o-linear-gradient(top, #eeeeee, #ddd);
			background-image: -webkit-gradient(linear, center top, center bottom, from(#eeeeee), to(#ddd));
			background-image: -webkit-linear-gradient(top, #eeeeee, #ddd);
			background-image: linear-gradient(top, #eeeeee, #ddd);
		}
		header  em{vertical-align:middle;font-family:Georgia, Times, serif;font-weight:normal;font-size:30px;font-style: normal;text-shadow:0 1px 2px #555;-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
		em.g{color:blue;}em.o1{color:red;}em.o2{color:orange;}em.l{color:green;}
		header span{white-space :nowrap;margin:0;padding:0;}
		header span.logo{margin-left:10px;}

		header .msg{font-size:16px;color:#444;font-style:italic;text-shadow:0 1px 1px #FFF;padding:0 10px;}
		header .top{margin:0;margin-bottom:30px;padding:5px;padding-right:20px;text-align:right;font-weight: bold;color:#aaa;background-color:#2D2D2D;border-bottom:1px solid black;}
		header .top a:hover{color:#aaa;}
		header .top a{color:#666;}
		header .top a.active{color:white;font-weight: bold;}
		header .top .version{float:left;font-size:14px;}
		nav{padding-left:35px;background-color:white;border-bottom:1px solid #ccc;margin-bottom:40px;}
		nav li{border-bottom:4px solid transparent;background-color:white; display:inline-block;list-style:none;width:100px;height:30px;font-size:18px;text-align: center;padding-top:4px;}
		nav li.active{color:red;font-weight: bold;border-bottom:4px solid red;}
		nav li a{color:#666;}
		nav li a:hover{color:#111;}
		input[type=text], #color_selection, #size_selection{font-size:16px;height:30px;width:50%;border-radius: 3px; padding:3px;border:1px solid #ccc;box-shadow: inset 0 1px 2px #ddd;margin-left:10px;margin-top:1px;}
		input[type=text]:hover{border-color:#aaa;}
		input[type=submit]{height:30px;width:40px;font-size:14px;background-color:#4a8cf7;border:1px solid #397be6;border-radius: 3px;color:#eee; box-shadow:  0 1px 2px #397be6}
		input[type=submit]:hover{background-color:#397be6;border-color:#286ad5 }
		input[type=submit]:active{background-color:#397be6;border-color:transparent;border-top:2px solid transparent;box-shadow:  0 0px 1px #397be6;}
		/*Web results*/
		aside ol{padding:0; margin: 0;list-style-position: inside}
		
		.result{padding:5px 10px ;margin:0;border-radius:3px;word-wrap:break-word;overflow-wrap: break-word;-webkit-hyphens:auto;-moz-hyphens:auto;-ms-hyphens:auto;}
		.result:hover,.image:hover, .video:hover{background-color:#ddd!important;}
		.result:nth-child(odd),.image:nth-child(odd){background-color:#eee;}

		.result a {color:#0B0;}
		.result h3 {text-decoration: underline; color:#00B!important;}
		.result .title{margin-bottom:0;}
		.result .description{margin-top:3px;}
		.web #wot-tooltip{display:none!important;}
		/*image results*/
		.image{display:inline-block;padding:5px; margin:5px;text-align: center;border-radius:3px;}
		.image p{margin:0;padding: 0;}
		.image .description{font-size: 12px;}
		.image img{border:1px solid transparent;border-radius: 4px; box-shadow: 0 1px 2px #555}
		.image img:hover{border:1px solid #333;}

		/*video results*/
		.video{display:inline-block;width:32%;min-width:250px;padding:5px; margin:5px;text-align: left;border-radius:3px;word-wrap:break-word;overflow-wrap: break-word;-webkit-hyphens:auto;-moz-hyphens:auto;-ms-hyphens:auto;}
		.video p{margin:0;padding: 0;}
		.video .description{font-size: 12px;}
		.video img{border:1px solid transparent;border-radius: 4px; box-shadow: 0 1px 2px #555}
		.video img:hover{border:1px solid #333;}
		.video .thumb{display:block;float:left;margin-right:10px;}
		.video .site{color:#0B0;}
		.video .site b{font-style: italic;}
		.video .description{font-size:16px;}		
		.video span{font-size:14px;color:#888;font-style: italic}
		

		.pagination{font-size:18px!important;text-align:center;width:auto;padding-top:5px;}
		.pagination a{text-decoration: none;padding:5px;border-radius: 4px;display:inline-block;}
		.pagination a:hover{background-color:#DDD;}
		.pagination em{padding:5px;background-color:#CCC;border-radius: 4px;display:inline-block;}
		.pagination .next,.pagination .previous{display:inline-block;width: 50px;}
		.footerlogo{text-align:center;padding:0;margin:0;font-size:22px;font-weight:bold;user-select: none;-webkit-user-select: none;}
		.footerlogo em{font-style: normal;display:inline-block;}
		footer{position:fixed;bottom:0;left:0;right:0;height:auto;min-height:40px;border-top:solid 1px #ddd;margin-top:30px;background-color:#EEE;text-align: right;color:#555;line-height: 30px;padding-right:10px;padding-bottom:5px;}
		footer a{color:#444;font-weight: bold;}
		footer img{vertical-align: middle}
		.noresult{text-align:center;margin-top:5px;color:#444;}
		.noresult em{color:black;font-weight: bold;}
		
		.wot, .ddg, .github{background:url(sprite.png) no-repeat ;display:inline-block;vertical-align:middle;}
		a.wot{background-position: 0 -163px; width: 32px; height: 15px;}
		.ddg{ background-position: 0 0; width: 32px; height: 31px; } 
		.github{ background-position: 0 -81px; width: 39px; height: 32px; } 
		.ss_off,.ss_on,.ss_images{font-size:14px;}
		.ss_off{color:red;font-weight: bold;}
		.ss_on{color:lightgreen;font-weight: normal;}
		.ss_images{color:yellow;font-weight: bold;}

		/* couleurs pour le choix des images*/
		#color_selection, #size_selection{width:auto;txtc }
		#color_selection option{background-color:white;color:black;}
		
		.red,.rouge{background-color:red!important;}
		.orange, .naranja{background-color:orange!important;}
		.yellow, .jaune{background-color:yellow!important;color:black;}
		.white, .blanc{background-color:white!important;color:black;}
		.gray, .gris{background-color:gray!important;}
		.pink, .rose{background-color:pink!important;}
		.brown, .marron{background-color:brown!important;}
		.green, .vert{background-color:green!important;}
		.teal, .sarcelle{background-color:teal!important;}
		.blue, .bleu{background-color:blue!important;color:white!important;}
		.black, .noir{background-color:black!important;color:white!important;}
		.Transparent,.Color, .couleur{color:black;}
		.Color, .couleur{}
		.Black_and_white,.Noir_et_blanc{background-color:#ddd!important;color:#444; txtb}

		@media screen and (max-width: 1100px){
			.video{width:48%;}
		}
		@media screen and (max-width: 670px){
			.video{width:100%;}
		}